{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="centered-div">
    <div class="centered-div">
        <h2>Please verify your YubiKey</h2>
    </div>
</div>

<form id="u2f-form" method="post">
    {% csrf_token %}
    <input name="response" type="hidden"/>
</form>

<script src="{% static 'u2f-api.js' %}"></script>

<script type="application/json" id="django_u2f_request">
    {{ challenge|safe }}
</script>

<script>
    var requestElem = document.getElementById('django_u2f_request');
    if (requestElem) {
        request = JSON.parse(requestElem.textContent);
        u2f.sign(request.appId, request.challenge, request.registeredKeys, function (resp) {
            var form = document.getElementById('u2f-form');
            form.response.value = JSON.stringify(resp);
            form.submit();
        });
    }
</script>